/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#search-area input {
  /*background-color: #ccc;*/
  width: 300px;
  padding: 10px;
}

#search-area h3 {
  /*display: inline-block;*/
  margin: 0;
}

#search-area {
  /*background-color: #ccc;*/
  padding: 10px;
}

#filter {
  /*background-color: #eee;*/
  padding: 10px;
  margin-bottom: 25px;
}

.link {
  border: 1px solid #ededed;
  padding: 10px;
  background-color: #fcfcfc;
  margin-bottom: 25px;
}

.Read {
  text-decoration: line-through;
  color: #aaa;
}

.hide {
  display: none;
}